{% extends "header.html" %}

{% block body %}

<form action="/change_status_auth" method="POST" class="col-3">
    <input type="text" class="form-control" name = "flightNum" placeholder="Flight Number" required/> </br>
    <input type="text" class="form-control" name = "airlineName" placeholder="Airline" required/> </br>

    <input type="date" class="form-control" name = "departDate" placeholder="Departure Date" required/> </br>
    <input type="time" class="form-control" name = "departTime" placeholder="Departure Time" required/> </br>

    <input type="text" class="form-control" name = "newStatus" placeholder="Status Update" required/> </br>
    <input class="btn btn-primary" type="submit" value = "Update" />
</form>

<br><br>
<a href="/logout">Logout</a>
<a href="/as_home">Home</a>

{% endblock %}