{% extends "header.html" %}

{% block body %}
{% if name != None %}
	<h2>Welcome, {{name}}</h2>
{% endif %}
<br><br>
<a>View flights</a><br><br>
<a>Create new flights</a><br><br>
<a>Change status of flights</a><br><br>
<a>Add airplane in the system</a><br><br>
<a>Add new airport in the system</a><br><br>
<a>View flight ratings</a><br><br>
<a>View frequent customers</a><br><br>
<a>View reports</a><br><br>
<a>View earned revenue</a><br><br>
 
<br><br>

<a href="/logout">Logout</a>

{% endblock %}
