{% extends "header.html" %}

{% block body %}
<form action="/registerAuth_as" method="POST">
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "Username" placeholder="username" required/></br>
      </div>
      <div class="col">
        <input type="password" class="form-control" name = "Password" placeholder="password" required/></br>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" name = "First_name" placeholder="first name" required/></br>
      </div>
      <div class="col">
        <input type="text" class="form-control" name = "Last_name" placeholder="last name" required/></br>
      </div>
    </div>
    <input type="text" class="form-control" name = "Date_of_birth" placeholder="date of birth (YYYY-MM-DD)" required/></br>
    <input type="text" class="form-control" name = "Airline_name" placeholder="airline name" required/></br>
    <input type="submit" class="btn btn-primary" value = Register />
</form>
<a href="/">Go back</a>
{% endblock %}