{% extends "header.html" %}

{% block body %}
{% if username != None %}
	<h1>Welcome, {{username}}</h1>
{% endif %}

<!-- view flights, using Buys and Flight_ticket -->





<!-- <form action="/book" method="POST">
	<input type="text" class="form-control" name = "source" placeholder="From" required/> </br>
	<input type="text" class="form-control" name = "destination" placeholder="To" required/> </br>
	<input type="date" name = "depart" placeholder="Depart" required/> </br>
	<input type="date" name = "return" placeholder="Return" required/> </br>
	<input type="submit" value = "Search" />
</form> -->

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table class = "table">
	<th>Airline name</th>
	<th>Flight Number</th>

{% for row in flights %}
	<tr>
		<td>{{row['Airline_name']}}</td>
		<td>{{row['Flight_num']}}</td>
	</tr>
{% endfor %}
</table>
 
<br>

<!-- <table class = "table">
	<th>Airline name</th>
	<th>Flight Number</th>
	<th>Departure Airport</th>

{% for row in search %}
	<tr>
		<td>{{row['Airline_name']}}</td>
		<td>{{row['Flight_num']}}</td>
		<td>{{row['Name']}}</td>
	</tr>
{% endfor %}
</table> -->

<a href="/logout">Logout</a>

{% endblock %}
