{% extends "header.html" %}

{% block body %}
{% if username != None %}
	<h1>Welcome, {{username}}</h1>
{% endif %}
<!-- <form action="/post" method="POST">
	<input type="text" name = "blog" placeholder="post" required/> </br>
	<input type="submit" value = "post" />
</form> -->

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table class = "table">
	<th>Airline name</th>
	<th>Flight Number</th>

{% for row in flights %}
	<tr>
		<td>{{row['Airline_name']}}</td>
		<td>{{row['Flight_num']}}</td>
	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

{% endblock %}
