{% extends "header.html" %}

{% block body %}
<!--<form action="/loginAuth" method="POST">
	<input type="text" class="form-control" name = "username" placeholder="username" required/> </br>
	<input type="password" class="form-control" name = "password" placeholder="password" required/></br>
	<input type="submit" class="btn btn-primary" value = Login />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form> -->

<button type="button" class="btn btn-success">Customer</button>
<button type="button" class="btn btn-primary">Airline Staff</button>
<button type="button" class="btn btn-outline-secondary">Register</button>

<a href="/">Go back</a>
{% endblock %}
